.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
}

.users-heading-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}
